body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -8px;
    background-color: rgba(32, 32, 32, 0.349);
   padding: 12px;
   
}

img{
    width: 17px;
    height: 17px;
    justify-content: center;
}

a{
    color: rgb(161, 161, 161);
    text-decoration: none;
    padding: 20px;
    /* font-size: small; */
    font-size: 12px;
    justify-content: center;
    text-align: center;
}


.laptop{
    width: 100%;
    height: 100%;
    margin-top: 150px;
}


.pro{
    position: absolute;
    top: 10%;
    left: 38%;
    color: white;
    /* border: 1px solid red; */
    font-size: 50px;
}


#h4{
    color: aliceblue;
    margin-top: 150px;
    font-size: 50px;
}

p{
    position: absolute;
    top: 18%;
    left: 34%;
    color: aliceblue;
    font-size: x-large;
}

#learn{
    position: absolute;
    color: #2997ff;
    font-size: x-large;
    top: 250px;
    left: 600px;
}
#buy{
    position: absolute;
    color: #2997ff;
    font-size: x-large;
    top: 250px;
    left: 800px;
}


hr{
    height: 10px;
    background-color: aliceblue;
    width: 100%;
    /* z-index: 1; */
}




#mac{
    width: 100%;
    height: 500px;
}

.mac{
    position: absolute;
    top: 58%;
    left: 40%;
    color: white;
    font-size: 50px;
}

#mac_p{
    position: absolute;
    top: 65%;
    left: 34%;
    color: aliceblue;
    font-size: x-large;
}

#learn_1{
    position: absolute;
    color: #2997ff;
    font-size: x-large;
    top: 70%;
    left: 600px;
}
#buy_1{
    position: absolute;
    color: #2997ff;
    font-size: x-large;
    top: 70%;
    left: 800px;
}



#speaker{
    width: 100%;
    height: 100%;
}

.speaker{
    position: absolute;
    top: 1130px;
    left: 42%;
    color: white;
    font-size: 50px;
}

#speaker_p{
    position: absolute;
    top: 1200px;
    left: 43.5%;
    color: aliceblue;
    font-size: x-large;
}

#learn_2{
    position: absolute;
    color: #2997ff;
    font-size: x-large;
    top: 1250px;
    left: 38%;
}
#buy_2{
    position: absolute;
    color: #2997ff;
    font-size: x-large;
    top: 1250px;
    left: 50%;
}




/* #h1{
    text-align: center;
} */

/* button{
    background-color: black;
    color: aliceblue;
    border: 2px solid transparent;    
    border-image: linear-gradient(45deg, orange, pink, blue) 1;
    /* border-radius: 30%; */
    /* border-image-slice: 1; 
     padding: 0px 50px;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid white;    
    padding: 0px 50px;
} */ 

/* h1{
    color: aliceblue;
    margin-top: 150px;
    font-size: 50px;
} */